.git
.gitignore
.venv
__pycache__
*.pyc
*.pyo
*.egg-info
.vscode
logs
generated_report
users.db
.env
*.md
Dockerfile
Dockerfile.jenkins
Jenkinsfile
azure-deploy-jenkins.sh
build-and-push-docker-image.sh
setup-app-infrastructure.sh
.dockerignore
